<%- include('header.ejs') %>
    <h1 class="px-5 poppins">Fill the details</h1>

    <form class="px-5 text-left" action="/postHeader" method="post">
        <div class="flex-container">
            <div class="d-flex my-3 gap-5">
                <div>
                    <label for="serial_num" class="text-left pb-2 proza">Vehicle Serial Number</label>
                    <input type="text" id="serial_num" class="form-control" name="serial_num" required>
                </div>
                <div>
                    <label for="inspectio_nloc" class="text-left pb-2 proza">Inspection Location</label>
                    <input type="text" id="inspection_loc" class="form-control" name="inspection_loc" required>
                </div>
                <div>
                    <label for="odo_reading" class="text-left pb-2 proza">Odometer Reading</label>
                    <input type="text" id="odo_reading" class="form-control" name="odo_reading" required>
                </div>
            </div>
            <div class="d-flex my-3 gap-5">
                <div>
                    <label for="model_num" class="text-left pb-2 proza">Vehicle Model Number</label>
                    <input type="text" id="model_num" class="form-control" name="model_num" required>
                </div>
                <div>
                    <label for="geo_coordinates" class="text-left pb-2 proza">Geo Coordinates (if necesary)</label>
                    <input type="text" id="geo_coordinates" class="form-control" name="geo_coordinates">
                </div>
                <div>
                    <label for="cust_id" class="text-left pb-2 proza">CAT Customer ID</label>
                    <input type="text" id="cust_id" class="form-control" name="cust_id" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-success proza">Submit</button>
        <button type="button" class="btn btn-lg btn-light"><img src="assets/mic.svg" height="25"></button>
    </form>

<%- include('footer.ejs') %>